body {
    font-family: "Raleway", sans-serif;
    background-color: rgb(203, 29, 29);
    padding: 0;
  }

.container{
    display: flex;
    width: 100%;
   
}
/* Mis trabajos */

#Mis-trabajos{
    background-color: #010101;
  }
  
  #Mis-trabajos .image-top {
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 900px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
    video{
      height: 100%;
      
    }
  
  }

.masthead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 38%, rgba(26, 6, 6, 0.65) 100%), url(/assets/img/fondoHero.png) no-repeat center center scroll;
}

.row{
  margin: 0 !important;
}

h1{
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 11vmin;
    letter-spacing: 0.03em;
    line-height: 1em;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 10vh;
}

button{
    background: #59949b;
    transition: /* background */ ease .25s;
    border-radius: 8px;
    display: inline-block;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;

}

button:hover{
    background-color: #102d2e;
}
button:focus{
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.mc_footer{

    background-color: #000;
    width: 100%;
    height: 20vh;
}

.color1{
  color: #03071e;
}

.color2{
  color: #370617;
}
.color3{
  color: #9d0208;
}
.color4{
  color: #d00000;
}
.color5{
  color: #dc2f02;
}
.color6{
  color: #e85d04;
}
.color7{
  color: #f48c06;
}
.color8{
  color: #faa307;
}
.color9{
  color: #ffba08;
}

/* nav{
  background-image: url(/assets/img/fondonav.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
nav a, li{
  text-decoration: none !important;
  color: #9d0208 !important;
  font-family: 'Six Caps','Oswald','Staatliches', sans-serif !important;
  text-shadow: #6a040f 1px 1px 0.3px !important;
  font-size: xx-large;
} */